body{
    text-align: center;
    font-family: monospace;
    font-size: large;
    background-color:#E1E5EE;
    color: #767b91;
    padding-left: 100px;
    padding-top: 200px;
    padding-right: 200px;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
        
footer{
    text-align: center;
}

section{
    text-align: justify;
}

.text-one{
    background-color: #345995;
    color: #E0E2DB;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#id-example-one{
    background-color: #D9F4C7;
    color: #AC9969;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}