body{
    font-family: 'Patrick Hand SC', cursive;
}
header{
    background-color:#82AC9F;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

body{
    color: white;
    margin:0%;
    padding:0%;
    background-color:gray;
    font-size: .22in;
}

.right{
    background-color: #3F403F;
    float:left;
    width:40%;
	box-sizing:border-box;
	padding:5px;
	min-height:200px;
}

.left{
    background-color: #56667A;
    float:left;
    width:60%;
	box-sizing:border-box;
	padding:5px;
	min-height:200px;
}

footer{
    background-color:#82AC9F;
    color: black;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
}

.Contacto{
    border-style: solid;
    border: white;
}

.texto{
    text-align: justify;
}